footer{
    background-color: var(--color-secundario);
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    transition: all 2s;
}

